@import "partials/fonts";
@import "partials/colors";

body {
  background: url("../img/pattern-2.jpg") $color-bg-wrapper;
}

#root {
  background: url("../img/pattern.png") $color-bg-wrapper;

}

div {
	padding: 15px;
}
